form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.parent {
  width: 20%;
  margin: 60px auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 20px;
}
.input {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* width: 100%; */
}
.input > input {
  margin: 10px 10px;
}
input[type="submit"] {
  background: none;
  outline: none;
  border: none;
  background-color: rgb(164, 215, 164);
  /* padding: 5px 20px; */
  cursor: pointer;
  width: 100px;
}
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;

  padding: 10px;
}
.second {
  color: rgb(126, 126, 210);
  /* border-bottom: 2px solid; */
  margin: 0 2px;
  font-weight: 500;
}
