nav {
  height: 10vh;
  width: 100%;
  background-color: rgb(173, 198, 173);
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 80px;
}
.Link {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.child :hover {
  cursor: pointer;
  transform: scale(1.1);
}
